@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  background: url('https://salient.tailwindui.com/_next/static/media/background-features.5f7a9ac9.jpg') no-repeat;
  background-size: cover;
}
